<h1>Confirmation of Order</h1>
<h3>Order Sucessfully!</h3>
<%= @current_cart.id %>
<% if session[:order_id].nil? %>
  <h3>Cart Empty</h3>
<% end %>
<% @current_cart.order_products.each do |order_product| %>
  <p><%= order_product.product.name %></p>
<% end %>
