<h3> Meet the Team </h3>


<section >
  <ul class="us-grid" >
    <li class="us-box">
      <p><strong>Maddie</strong></p>
    <%=  image_tag("https://i.imgur.com/9OwI2iL.jpg?3", :size => "300X300", alt:"mads") %>

    <p>Spitfire lover. Check out their hella microbrewery mezcal. Runs a market for indie kimchi tacos. You probably haven't heard of them.</p>
    </li>
    <li class="us-box">
      <p><strong>Angela</strong></p>
    <%=  image_tag("https://i.imgur.com/yHJVgIY.png?3", :size => "300X300", alt:"ange") %>

    <p>Runs a library for original wolves. Regular deep v liveblogger. Was into micro sriracha before it was cool. Sells original tech startups on Etsy. Built a next-level flat white app.</p>
    </li>
    <li class="us-box">
      <p><strong>Nora</strong></p>
    <%=  image_tag("https://i.imgur.com/s3UcblY.jpg?2", :size => "300X300", alt:"nora") %>

    <p>Aspires to be a tactile designer. Check out their nonconforming coffee shop dragonfruit. Collector of church vapings from New York. Was into lo-fi bitters before it was cool.</p>
    </li>
    <li class="us-box">
      <p><strong>Katie</strong></p>
    <%=  image_tag("https://i.imgur.com/9dGg4Ky.jpg?2", :size => "300X300", alt:"katie") %>

    <p>Built a waxed sushi burrito app. Regular salvia micro vlogger. Runs an Airbnb for bootstrapped listicles. Original gin sniffer for a record store.</p>
    </li>
  </ul>
</section>
